.kocka{
    border: 1px solid grey;
    font-size: 30px;
    text-align: center;
    cursor: grab;
}
.kocka:hover{
    background-color: aqua;
}
.jatekT{
    width: 160px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    margin: auto;
    margin-top: 20px;
}
main{
    max-width: 1000px;
    margin: auto;
}   
header{
    text-align: center;
}
footer{
    text-align: center;
}
.infoPanel {
    width: 150px;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid gray;
}